.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .board {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 302px;
        height: 302px;
        gap: 1px
    }
}

.main-reset-container{
    display: flex;
    gap: 2px;
}

.copy-right{
    display: flex;
    justify-content: flex-end;
    margin: 12px 0;
    span{
        font-family: 'Courier New', Courier, monospace;
        font-size: small;
    }
    span:before{
        content: '\00a9  '
    }
}