.board {
    display: flex;
    flex-wrap: wrap;
    width: 376px;
    height: 376px;
    gap: 2px;
}

.btn-reset{
    height: 40px;
    width: 100%;
    border: none;
    background-color: crimson;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: larger;
    font-weight: 600;
    border-radius: 0.25rem;
    margin: 12px 0;
    cursor: pointer;
}

.main-reset-container{
    display: flex;
    gap: 2rem;
}

.copy-right{
    display: flex;
    justify-content: flex-end;
    margin: 12px 0;
    span{
        font-family: 'Courier New', Courier, monospace;
        font-size: small;
    }
    span:before{
        content: '\00a9  '
    }
}