.player {
    flex: 1;
    padding: 0 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: azure;

    border-radius: 0.25rem;
}

.active {
    background-color: chocolate;
    color: white;
    font-weight: 100;
}