:root{
  --COLOR-CRIMSON: crimson;
  --COLOR-GRAY: #f3f3f3;
  --COLOR-BLUE: #3498db;
  --SELECTED-BOT-COLOR: blueviolet;
  --BOX-WIN-BG: green;
  --BG-DARK: #242424;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--BG-DARK);
    display: flex;
    justify-content: center;
    align-items: center;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    button{
      all: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      padding: 0 12px;
      width: fit-content;
      border: 1px solid var(--COLOR-CRIMSON);
      color: var(--COLOR-CRIMSON);
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-transform: uppercase;
      font-size: larger;
      font-weight: 600;
      border-radius: 0.25rem;
      margin: 12px 0;
      cursor: pointer;
    }

    button:hover {
      border: 1px solid rgba($color: #000000, $alpha: 1.0);
      background-color: var(--COLOR-CRIMSON);
      color: var(--COLOR-GRAY)
    }
}

@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }


body {
    display: flex;
    justify-content: center;
    min-width: 300px;
}